.git
.gitignore
.github
node_modules
**/node_modules
android/.gradle
android/local.properties
*.patch
deploy/vps-test/.env
.DS_Store

android
articles
changes
docs
handbook
infrastructure
it-and-security
security
website
/build/
